ROCKYROAD_DUCKDB_PATH=data/rockyroad.duckdb
ROCKYROAD_GEO_DIR=data/geo
ROCKYROAD_MAPS_DIR=data/maps
ROCKYROAD_OSM_DIR=data/osm
ROCKYROAD_ROUTING_DIR=data/routing/valhalla
# Set this when the repo path contains a space so Compose can bind Valhalla tiles:
# ROCKYROAD_VALHALLA_FILES=/Users/you/.cache/rockyroad/valhalla
ROCKYROAD_REGION_PROFILE=sample
VALHALLA_URL=http://127.0.0.1:8002
VALHALLA_TIMEOUT_S=30
ROCKYROAD_API_HOST=127.0.0.1
ROCKYROAD_API_PORT=8000
